.container {
  width: 300px;
  background-color: red;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: calc(50% - 160px);
  padding: 10px;
}

.temp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  z-index: 10;
  opacity: 0.75;
}
