.container {
  height: 100vh;
  max-width: 1200px;
  min-width: 800px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  /* border: 1px solid black; */
}

.header {
  /* background-color: blue; */
  width: 100%;
  text-align: center;
  border: 1px solid rgb(171, 171, 158);
}
.main {
  background-color: beige;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.working {
  display: flex;
  flex-wrap: wrap;
}
